body {
	background-color: #007399;
}

h1 {
	text-align: center;
	font-family: Helvetica, "Times New Roman";
	color: #e6f9ff;
	font-size: 50px;
}

.button {
	display:block;
	width: 1000px;
	margin: 0 auto 0 auto;
}

#home {
	width: 1000px;
	visibility: hidden;
	border-radius: 2px;
	font-size: 20px;
	font-family: Helvetica, "Times New Roman";
	padding: 10px 0 10px 0;
	border-radius: 15px;
	background-color: white;
}

.tweeted {
	width: 1000px;
	margin: 0 auto 0 auto;

}

.line {
	box-sizing:border-box;
	font-size: 20px;
	padding: 10px 0 10px 0;
	background-color: #e6f9ff;
	border-top: 1px solid  #000033;
	border-bottom: 1px solid  #000033;
}

.user {
	float:left;
	padding-left: 5px;
	width: 200px;
	border-right: 1px solid  #000033;
	border-left: 2px solid  #000033;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.message {
	float:left;
	padding-left: 10px;
	width: 650px;
	border-left: 1px solid  #000033;
}

.time {
	float:right;
	width: 150px;
	border-right: 2px solid  #000033;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}



